@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
}

.recharts-legend-item-text {
  fill: #1b212d !important;
  color: #1b212d !important;
  font-weight: 400;
  text-transform: capitalize;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
